<!--
  Generated template for the WildflowerDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Wildflower Detail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <h3>{{ wildflower.commonName }} | <i> {{ wildflower.familyNameScientific }}</i></h3>

  <ion-slides [effect]="cube" *ngIf="wildflowerImages">
    <ion-slide *ngFor="let i of wildflowerImages">
      <img class="slide-image" data-src="{{ i.img_link }}">
    </ion-slide>
  </ion-slides>

  <ion-list>
    <ion-item>
      <label>Location</label>
      <p>{{ wildflower.location }}</p>
    </ion-item>
  </ion-list>

</ion-content>