<!-- <p *ngIf="wildflower">{{ wildflower.commonName }}</p> -->

<ion-card *ngIf="wildflower">
    <img *ngIf="defaultImage" data-src="{{ defaultImage.img_link | thumbnail: 'm' }}" />
    <ion-card-content>
        <ion-card-title>
            <h2>{{ wildflower.commonName }}</h2>
        </ion-card-title>
        <p>
            {{ wildflower.scientificName}}
        </p>
        <button ion-button round [small]="true" (click)="gotoDetail(wildflower)">more</button>
    </ion-card-content>
</ion-card>