<!--
  Generated template for the WildflowersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<!-- <button ion-button (click)="sortByCommonName()">Common Name (asc)</button>
<button ion-button (click)="sortByCommonName()">Common Name (desc)</button>


<button ion-button (click)="sortByScientificName()">Scientific Name</button>
<button ion-button (click)="sortByScientificName()">Scientific Name(desc)</button> -->

<!-- <ion-list *ngIf="wildflowers">
    <ion-item *ngFor="let f of wildflowers">
      <page-wildflower-card [wildflower]="f"></page-wildflower-card>
    </ion-item>
  </ion-list> -->

<ion-grid class="card-background-page">

  <ion-row>
    <ion-col>
      <button ion-button round [small]="true" (click)="sortByCommonName()">Common Name (asc)</button>
    </ion-col>
    <ion-col>
      <button ion-button round [small]="true" (click)="sortByCommonName()">Common Name (desc)</button>
    </ion-col>
    <ion-col>
      <button ion-button round [small]="true" (click)="sortByScientificName()">Scientific Name</button>
    </ion-col>
    <ion-col>
      <button ion-button round [small]="true" (click)="sortByScientificName()">Scientific Name(desc)</button>
    </ion-col>
  </ion-row>



  <ion-row class="card-grid" *ngFor="let row of grid">
    <ion-col col-sm *ngFor="let f of row">
      <page-wildflower-card [wildflower]="f"></page-wildflower-card>
    </ion-col>
  </ion-row>

</ion-grid>