page-home {
    // center the main image
    img {
        margin-left: 10%;
        margin-right: 10%;
        height: 80%;
        width: 80%;
        text-align: center;
    }

    // center and enlarge the button
    #button-wildflowers {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
}
