<ion-header>
  <ion-toolbar>
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      My Firebase App
    </ion-title>
    <ion-buttons end>

      <ion-item (click)="logout()" *ngIf="afAuthService.authenticated">
        Log out
      </ion-item>

      <ion-item (click)="login()" *ngIf="!afAuthService.authenticated">
        Log in
      </ion-item>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngIf="afAuthService.authenticated">
      <ion-icon name="contact" item-left></ion-icon>
      {{ afAuthService.getEmail() }}
    </ion-item>
  </ion-list>

  <button (click)="openUserPage()">Go To User Page</button>
  <button (click)="openTestPage()">Go To Test Page</button>

  <page-wildflowers></page-wildflowers>

</ion-content>