<ion-header>
  <ion-toolbar>
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Wildflowers of Ireland
    </ion-title>
    <!-- <ion-buttons end>
    
    
    
        </ion-buttons> -->
  </ion-toolbar>

  <ion-nav #mycontent [root]="rootPage"></ion-nav>


  <!-- <header-component></header-component> -->
</ion-header>

<ion-content padding>
  <button (click)="openUserPage()">User Profile</button>
  <button (click)="openTestPage()">Test</button>
  <!-- <button ion-button block menuToggle>Toggle Menu</button> -->

  <img src="http://i.imgur.com/xewNJAH.jpg">
  <ion-grid>
    <ion-col sm-2></ion-col>
    <ion-col sm-8>
      <button id="button-wildflowers" (click)="openWildflowersPage()" ion-button large outline round>View Wildflowers</button>
    </ion-col>
    <ion-col sm-2></ion-col>
  </ion-grid>

  <!-- <page-wildflowers></page-wildflowers> -->

</ion-content>

<ion-menu [content]="mycontent">
  <ion-content>
    <ion-list>

      <ion-item *ngIf="afAuthService.authenticated">
        {{ afAuthService.getEmail() }}
      </ion-item>
      <ion-item (click)="openUserPage()">
        <ion-icon name="contact" item-left></ion-icon>User Settings
      </ion-item>


      <ion-item (click)="logout()" *ngIf="afAuthService.authenticated">
        Log out
      </ion-item>

      <ion-item (click)="login()" *ngIf="!afAuthService.authenticated">
        Log in
      </ion-item>

    </ion-list>
  </ion-content>
</ion-menu>