ion-slides {
    height: 50%;
    width: 50%;
    border-style: solid;
    border-color: grey;
    padding: 10;
}

#image-slider {
    width: 88%;
    height: 300px;
    margin-left: 6%;
    margin-right: 6%;
}

.slide-image {
    height: 540px;
    width: 540px;
}

#image-slider .slider-pager-page {
    color: white;
}
