<!--
  Generated template for the WildflowersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar>
    <ion-title>Wildflowers</ion-title>
  </ion-navbar>

  <!-- <header-component></header-component> -->

  <ion-grid>

    <ion-row>
      <ion-col>
        <!-- <button ion-button small round outline (click)="openMenu()">Sort</button>
        <button *ngIf="!filterOn" ion-button small round outline (click)="openPopover()">Filter</button>
        <button *ngIf="filterOn" ion-button small round outline color="danger" (click)="clearFilter()">Clear</button>
        <button *ngIf="isCardView" ion-button small round outline (click)="toggleCardView()">List</button>
        <button *ngIf="!isCardView" ion-button small round outline (click)="toggleCardView()">Card</button> -->
        <button ion-button primary (click)="openSortMenu()">
          <ion-icon name="options"></ion-icon>
        </button>
        <button ion-button primary *ngIf="!filterOn" (click)="openPopover()">
          <ion-icon name="funnel"></ion-icon>
        </button>
        <button ion-button primary color="danger" *ngIf="filterOn" (click)="clearFilter()">
          <ion-icon name="funnel"></ion-icon>
        </button>
        <button ion-button primary *ngIf="!isListView" (click)="toggleCardView()">
          <ion-icon name="list"></ion-icon>
        </button>
        <button ion-button primary *ngIf="isListView" (click)="toggleCardView()">
          <ion-icon name="grid"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="filterOnXXX">
      <ion-col col-sm-8>
        <ion-searchbar [(ngModel)]="qryString" [showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)">
        </ion-searchbar>
      </ion-col>
      <ion-col col-sm-4>
        <button ion-button small round outline (click)="clearFilter()">Clear Filters</button>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-header>


<ion-content padding>


  <ion-grid *ngIf="!isListView" class="card-background-page">
    <ion-row class="card-grid" *ngFor="let row of gridMatrix">
      <ion-col col-sm-3 *ngFor="let wildflower of row">
        <page-wildflower-card *ngIf="wildflower" [wildflower]="wildflower"></page-wildflower-card>
      </ion-col>
    </ion-row>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-grid>

  <ion-list *ngIf="isListView">
    <ion-item *ngFor="let wildflower of wildflowers" (click)="gotoDetail(wildflower)">
      {{ wildflower.commonName }} |
      <i>{{ wildflower.scientificName }}</i>
    </ion-item>
  </ion-list>

</ion-content>