<!--
  Generated template for the UserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <div *ngIf="user">
      <ion-title>{{ user.email }}</ion-title>
    </div>
  </ion-navbar>

</ion-header>


<ion-content padding>


  <!-- <form #form="ngForm" (ngSubmit)="updateUserDetails(form)" novalidate> -->
  <div *ngIf="user">
    <ion-label>
      <b>Display Name:</b>
    </ion-label>
    <ion-input type="text" placeholder="Display Name" [(ngModel)]="user.username" ngControl="username"></ion-input>

    <ion-label>
        <b>Default View Type:</b>
      </ion-label>
    <ion-list>
      <ion-list radio-group [(ngModel)]="user.listView">
        <ion-item>
          <ion-label>Card View</ion-label>
          <ion-radio value="false"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>List View</ion-label>
          <ion-radio value="true"></ion-radio>
        </ion-item>
      </ion-list>
    </ion-list>

    <ion-label>
        <b>Default Sort Type:</b>
      </ion-label>
    <ion-list>
      <ion-list radio-group [(ngModel)]="user.sortType">
        <ion-item>
          <ion-label>Common Name (asc)</ion-label>
          <ion-radio value="commonAsc"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Common Name (desc)</ion-label>
          <ion-radio value="commonDesc"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>Scientific Name (asc)</ion-label>
            <ion-radio value="scientificAsc"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Scientific Name (desc)</ion-label>
            <ion-radio value="scientificDesc"></ion-radio>
          </ion-item>
      </ion-list>
    </ion-list>

    <button ion-button (click)="updateUserDetails()" block>Update</button>
  </div>
  <!-- </form> -->
</ion-content>