<!-- <p *ngIf="wildflower">{{ wildflower.commonName }}</p> -->

<ion-card (click)="gotoDetail(wildflower)" *ngIf="wildflower">
    <div class="centered">
        <img *ngIf="defaultImage" data-src="{{ defaultImage.img_link | thumbnail: 's' }}" />
        <ion-card-content>
            <div class="centered">
                <ion-card-title>
                    <h3>{{ wildflower.commonName }}</h3>
                    <h3>
                        <i>{{ wildflower.scientificName }}</i>
                    </h3>
                </ion-card-title>
                <p>{{ wildflower.plantFeatures | summary: 50 }}</p>
            </div>
            <!-- <button ion-button round [small]="true" (click)="gotoDetail(wildflower)">more</button> -->
        </ion-card-content>
    </div>
</ion-card>